In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("C:\\Users\\Admin\\Desktop\\3rd sem\\book1.csv")
data.tail()

,Unnamed: 0.1,Unnamed: 0,Title,Author,Main Genre,Sub Genre,Type,Price,Rating,No. of People rated,URLs,gc
7923,7923,7923,Insight Guides Poland (Travel Guide with Free ...,Insight Travel Guide,Travel,Travel & Holiday Guides,Paperback,"₹1,326.00",4.7,16,https://www.amazon.in/Insight-Guides-Poland-Tr...,29
7924,7924,7924,Lonely Planet India 19 (Travel Guide),Anirban Mahapatra,Travel,Travel & Holiday Guides,Paperback,₹850.00,4.4,187,https://www.amazon.in/Lonely-Planet-India-Trav...,29
7925,7925,7925,Eyewitness Travel Phrase Book French (EW Trave...,DK,Travel,Travel & Holiday Guides,Paperback,₹307.00,4.5,168,https://www.amazon.in/Eyewitness-Travel-Phrase...,29
7926,7926,7926,Lonely Planet Australia (Travel Guide),Andrew Bain,Travel,Travel & Holiday Guides,Kindle Edition,"₹1,814.50",4.7,267,https://www.amazon.in/Lonely-Planet-Australia-...,29
7927,7927,7927,Political Map of India Latest Map of India Wit...,Wonder House Books,Travel,Travel & Holiday Guides,Poster,₹99.00,3.9,48,https://www.amazon.in/Political-Map-India-Terr...,29

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score,  classification_report, confusion_matrix, ConfusionMatrixDisplay
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB

In [4]:
d = data.dropna()

In [5]:
x = (d['Title'] + " " + d['Sub Genre']).values
x

array(['The Complete Novel of Sherlock Holmes Cinema & Broadcast',
       'Black Holes (L) : The Reith Lectures [Paperback] Hawking, Stephen Cinema & Broadcast',
       'The Kite Runner Cinema & Broadcast', ...,
       'Eyewitness Travel Phrase Book French (EW Travel Guide Phrase Books) Travel & Holiday Guides',
       'Lonely Planet Australia (Travel Guide) Travel & Holiday Guides',
       'Political Map of India Latest Map of India With The Two New Union Territories of Jammu and Kashmir And Ladakh 30 Inches X 20 Inches Travel & Holiday Guides'],
      dtype=object)

In [6]:
#pipeline_creation
#x = data[['Title', 'Main Genre', 'Sub Genre']]
tf_idf = TfidfVectorizer(stop_words = 'english', ngram_range = (1, 8), max_features = 8000)
x_tr, x_ts, y_tr, y_ts = train_test_split(x, d['gc'])
logit = LogisticRegression(C = 0.5 , penalty = 'l2', solver = 'liblinear', random_state = 55)
pipe = Pipeline([('tf_idf', tf_idf), ('logit', logit)])
#mnb = MultinomialNB(alpha = 1, fit_prior = True, class_prior = None)
#pipe = Pipeline([('tf_idf', tf_idf), ('clf', mnb)])
pipe.fit(x_tr, y_tr)

Pipeline(steps=[('tf_idf',
                 TfidfVectorizer(max_features=8000, ngram_range=(1, 8),
                                 stop_words='english')),
                ('logit',
                 LogisticRegression(C=0.5, random_state=55,
                                    solver='liblinear'))])

In [7]:
x_ts

array(['UPSC Mains PYQ: Topic wise Questions and Year wise Papers (2013-2022) (Essay + GS 1-4) Professional Certification Exams',
       'Spy Secrets That Can Save Your Life: A Former CIA Officer Reveals Safety and Survival Techniques to Keep You and Your Family Protected Active Outdoor Pursuits',
       'Trading Chart Breakout Pattern & Candlestick Pattern Pocket Study For Beginners Business & Finance',
       ...,
       'Everyday Watercolor: Learn to Paint Watercolor in 30 Days Handicrafts, Decorative Arts & Crafts',
       'Computer Networking| Eight Editon| By Pearson Network Administration',
       'Screenplay Writing Guides'], dtype=object)

In [8]:
y_pred = pipe.predict(x_ts)
y_pred

array([ 9, 26, 12, ...,  6,  5, 14], dtype=int64)

In [9]:
acc = accuracy_score(y_ts, y_pred)
clasf = classification_report(y_ts, y_pred)

print("accuracy: ", acc)
print("classification report: ", clasf)

accuracy:  0.8993424380374304
classification report:                precision    recall  f1-score   support

           0       1.00      0.99      0.99        69
           1       0.51      0.91      0.66        23
           2       1.00      0.89      0.94        35
           3       0.79      0.98      0.88       364
           4       0.96      0.92      0.94        24
           5       0.85      0.98      0.91        82
           6       1.00      0.92      0.96        87
           7       1.00      0.82      0.90        11
           8       1.00      1.00      1.00        11
           9       0.97      1.00      0.98        57
          10       1.00      0.17      0.29        24
          11       1.00      0.95      0.98        21
          12       0.96      0.75      0.84        65
          13       0.88      0.23      0.36        31
          14       1.00      0.67      0.80        12
          15       1.00      0.71      0.83         7
          16       0.96      0.91      0.93        99
          17       1.00      0.97      0.98        65
          18       1.00      1.00      1.00        33
          19       1.00      0.84      0.91        49
          20       1.00      0.96      0.98        72
          21       0.90      0.98      0.94       253
          22       1.00      1.00      1.00        25
          23       0.62      0.50      0.55        36
          24       0.61      0.67      0.64        42
          25       1.00      0.81      0.90        53
          26       1.00      0.99      0.99       228
          27       0.91      0.58      0.71        73
          28       1.00      0.92      0.96        13
          29       1.00      0.85      0.92        13

    accuracy                           0.90      1977
   macro avg       0.93      0.83      0.86      1977
weighted avg       0.91      0.90      0.89      1977

In [10]:
import pickle
pkl_file = "br.pkl"  

with open(pkl_file, 'wb') as file:  
    pickle.dump(pipe, file)

In [11]:
d2 = d.groupby(['Main Genre', 'Sub Genre']).count()
d2.to_csv('grouped data br.csv')
d2

                                                                    Unnamed: 0.1  \
Main Genre                           Sub Genre
Arts, Film & Photography             Cinema & Broadcast                       50
                                     Music                                    50
                                     Theater & Ballet                         50
                                     Theory & Criticism                       50
Biographies, Diaries & True Accounts Biographies & Autobiographies            50
...                                                                          ...
Teen & Young Adult                   Romance                                  49
                                     Science Fiction & Fantasy                50
                                     Social & Family Issues                   50
Textbooks & Study Guides             Study Guides & Workbooks                 50
Travel                               Travel & Holiday Guides                  50

                                                                    Unnamed: 0  \
Main Genre                           Sub Genre
Arts, Film & Photography             Cinema & Broadcast                     50
                                     Music                                  50
                                     Theater & Ballet                       50
                                     Theory & Criticism                     50
Biographies, Diaries & True Accounts Biographies & Autobiographies          50
...                                                                        ...
Teen & Young Adult                   Romance                                49
                                     Science Fiction & Fantasy              50
                                     Social & Family Issues                 50
Textbooks & Study Guides             Study Guides & Workbooks               50
Travel                               Travel & Holiday Guides                50

                                                                    Title  \
Main Genre                           Sub Genre
Arts, Film & Photography             Cinema & Broadcast                50
                                     Music                             50
                                     Theater & Ballet                  50
                                     Theory & Criticism                50
Biographies, Diaries & True Accounts Biographies & Autobiographies     50
...                                                                   ...
Teen & Young Adult                   Romance                           49
                                     Science Fiction & Fantasy         50
                                     Social & Family Issues            50
Textbooks & Study Guides             Study Guides & Workbooks          50
Travel                               Travel & Holiday Guides           50

                                                                    Author  \
Main Genre                           Sub Genre
Arts, Film & Photography             Cinema & Broadcast                 50
                                     Music                              50
                                     Theater & Ballet                   50
                                     Theory & Criticism                 50
Biographies, Diaries & True Accounts Biographies & Autobiographies      50
...                                                                    ...
Teen & Young Adult                   Romance                            49
                                     Science Fiction & Fantasy          50
                                     Social & Family Issues             50
Textbooks & Study Guides             Study Guides & Workbooks           50
Travel                               Travel & Holiday Guides            50

                                                                    Type  \
Main Genre                           Sub Genre
Arts, Film & Photography             Cinema & Broadcast               50
                                     Music                            50
                                     Theater & Ballet                 50
                                     Theory & Criticism               50
Biographies, Diaries & True Accounts Biographies & Autobiographies    50
...                                                                  ...
Teen & Young Adult                   Romance                          49
                                     Science Fiction & Fantasy        50
                                     Social & Family Issues           50
Textbooks & Study Guides             Study Guides & Workbooks         50
Travel                               Travel & Holiday Guides          50

                                                                    Price  \
Main Genre                           Sub Genre
Arts, Film & Photography             Cinema & Broadcast                50
                                     Music                             50
                                     Theater & Ballet                  50
                                     Theory & Criticism                50
Biographies, Diaries & True Accounts Biographies & Autobiographies     50
...                                                                   ...
Teen & Young Adult                   Romance                           49
                                     Science Fiction & Fantasy         50
                                     Social & Family Issues            50
Textbooks & Study Guides             Study Guides & Workbooks          50
Travel                               Travel & Holiday Guides           50

                                                                    Rating  \
Main Genre                           Sub Genre
Arts, Film & Photography             Cinema & Broadcast                 50
                                     Music                              50
                                     Theater & Ballet                   50
                                     Theory & Criticism                 50
Biographies, Diaries & True Accounts Biographies & Autobiographies      50
...                                                                    ...
Teen & Young Adult                   Romance                            49
                                     Science Fiction & Fantasy          50
                                     Social & Family Issues             50
Textbooks & Study Guides             Study Guides & Workbooks           50
Travel                               Travel & Holiday Guides            50

                                                                    No. of People rated  \
Main Genre                           Sub Genre
Arts, Film & Photography             Cinema & Broadcast                              50
                                     Music                                           50
                                     Theater & Ballet                                50
                                     Theory & Criticism                              50
Biographies, Diaries & True Accounts Biographies & Autobiographies                   50
...                                                                                 ...
Teen & Young Adult                   Romance                                         49
                                     Science Fiction & Fantasy                       50
                                     Social & Family Issues                          50
Textbooks & Study Guides             Study Guides & Workbooks                        50
Travel                               Travel & Holiday Guides                         50

                                                                    URLs  gc
Main Genre                           Sub Genre
Arts, Film & Photography             Cinema & Broadcast               50  50
                                     Music                            50  50
                                     Theater & Ballet                 50  50
                                     Theory & Criticism               50  50
Biographies, Diaries & True Accounts Biographies & Autobiographies    50  50
...                                                                  ...  ..
Teen & Young Adult                   Romance                          49  49
                                     Science Fiction & Fantasy        50  50
                                     Social & Family Issues           50  50
Textbooks & Study Guides             Study Guides & Workbooks         50  50
Travel                               Travel & Holiday Guides          50  50

[161 rows x 10 columns]

In [12]:
l = []
lx = data['Main Genre'].unique()
for i in lx:
    l.append(i)
l
dic = {}
for i in range(30):
    dic[i] = l[i]
dic

{0: 'Arts, Film & Photography',
 1: 'Biographies, Diaries & True Accounts',
 2: 'Business & Economics',
 3: "Children's Books",
 4: 'Comics & Mangas',
 5: 'Computing, Internet & Digital Media',
 6: 'Crafts, Home & Lifestyle',
 7: 'Crime, Thriller & Mystery',
 8: 'Engineering',
 9: 'Exam Preparation',
 10: 'Fantasy, Horror & Science Fiction',
 11: 'Health, Family & Personal Development',
 12: 'Higher Education Textbooks',
 13: 'History',
 14: 'Language, Linguistics & Writing',
 15: 'Law',
 16: 'Literature & Fiction',
 17: 'Medicine & Health Sciences',
 18: 'Politics',
 19: 'Reference',
 20: 'Religion',
 21: 'Romance',
 22: 'School Books',
 23: 'Science & Mathematics',
 24: 'Sciences, Technology & Medicine',
 25: 'Society & Social Sciences',
 26: 'Sports',
 27: 'Teen & Young Adult',
 28: 'Textbooks & Study Guides',
 29: 'Travel'}

In [40]:
t = d['Title'].to_list()
a = d['Author'].to_list()
s = d['Sub Genre'].to_list()
p = []
for i in range(0,7907):
    l = [t[i], a[i], s[i]]
    p.append(l)
l = d['Sub Genre'].unique()
f = []
for i in l:
    f.append(i)
len(f)

151

In [33]:
with open(pkl_file, 'rb') as file:  
    model = pickle.load(file) 
def test(l_ts):
    l2 = []
    y_pred = model.predict(l_ts)
    print(y_pred)
    for i in y_pred:
        x = i
    x1 = dic[x]
    for i in range(0, 7907):
        #print(p[i])
        if p[i][2] == x1:
            l2.append([p[i][0], p[i][1]])
    return l2
book = input("enter the book name: ")
gen = input("enter the genre: ")
sent = book + " " + gen
l_ts = [sent]
l3 = test(l_ts)
for i in l3[:10]:
    print('Title: ', i[0], 'Author: ', i[1])

enter the book name: the alchemist
enter the genre: novel
[21]
Title:  Good Girl, Bad Blood - The Sunday Times Bestseller And Seque Author:  Holly Jackson
Title:  One Of Us Is Lying Author:  Karen McManus
Title:  The Inheritance Games Author:  Jennifer Lynn Barnes
Title:  Meesha Makes Friends Author:  Tom Percival
Title:  Better Than the Movies Author:  Lynn Painter
Title:  One Of Us Is Next Author:  Karen M. McManus
Title:  One of Us is Back (Book 3) Author:  Karen M. McManus
Title:  The Fault in Our Stars Author:  John Green
Title:  Powerless Author:  Lauren Roberts
Title:  Your Home Is In My Heart Author:  Neka  Shah